* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

.red-house {
  max-height: 100%;
}

.top-nav {
  background-color: black;
  height: 50px;
  border-bottom: 8px solid lightgray;
}

.dropdown-nav {
  height: 60px;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0px;
}
#first-nav li {
  padding: 0px 15px;
  background-color: black;
  color: white;
  font-size: 1.2em;
}

#second-nav li {
  padding: 10px;
  font-size: 1.2em;
}

.navigation {
  display: flex;
}
.home-top {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("oblique.jpg");
  background-size: cover;
  background-position: center;
}

.search-title {
  color: white;
  font-size: 2.5em;
  text-shadow: 8px 8px 20px black;
}

form {
  background-color: white;
  width: 60%;
  height: 35%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-labels {
  padding-bottom: 15px;
}

.form-content {
  padding-left: 20px;
}

input {
  padding: 10px;
  width: 70%;
  color: lightgray;
  border-radius: 5px;
  border: 1px solid gray;
}

.services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.service-button {
  background-color: rgb(207, 0, 0);
  color: white;
  font-size: 1.2em;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
}

.services-title {
  padding-left: 20px;
}

.flex {
  display: flex;
}

.search-service {
  padding: 20px;
  flex-direction: column;
  width: 30%;
  height: 300px;
  align-items: center;
}

.service-options {
  justify-content: space-around;
  margin: 0px 40px;
}

.service-text {
  text-align: center;
  color: gray;
  font-size: 1.2em;
}
