* {
  box-sizing: border-box;
  margin: 0;
  font-weight: bold;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-family: "Oswald", sans-serif;
}

body {
  margin: 0px;
  height: 100%;
  width: 100%;
  background-image: url("oblique.jpg");
  background-size: cover;
  background-position: center;
}

h2 {
  padding: 20px;
}

header {
  background-color: rgb(9, 50, 36);
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  padding: 20px;
  list-style: none;
}

main {
  height: 100vh;

  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 4em;
  text-shadow: 2px 2px 5px black;
}
